.containerTable{
background: rgb(2,0,36);
background: linear-gradient(66deg, rgba(2,0,36,1) 0%, rgba(4,4,75,1) 14%, rgba(0,212,255,1) 100%);
	width: 100%;
	min-height:100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

}
.container-table{
	display: flex;
	flex-flow: row;
	height: 70%;
	flex-wrap: wrap;
	justify-content: center;
}
.item{
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 20px;
	margin: 20px;
	box-shadow: rgba(0,0,0,1) 0px 0px 0px 10px;
	transition: all 300ms;
	text-align: center;
	border: 4px solid rgba(0,0,0,0);
	background-color: black;
	border-radius: 8px;
}
.item h2{
	margin: 10px 0px;
}
.item h1{
	margin: 20px 0px;
}

.item ul{
	list-style: none;
	margin: 20px 0px;
}

.item ul li{
margin: 5px 0px;
}

button{
	border: none;
	outline: none;
	padding: 10px;
	background: rgb(2,0,36); 
	background: linear-gradient(66deg, rgba(2,0,36,1) 0%, rgba(4,4,75,1) 14%, rgba(0,212,255,1) 100%);
	color: white;
	text-transform: uppercase;
	box-shadow: rgba(0,0,0,0,8) 0px 0px 8px;
	width: 200px;
	border-radius: 2px;
	cursor: pointer;
	transition: all 400ms;
}

button.hover{
	transform: translateY(4px);
}

hr{
	outline: none;
	border: none;
	width: 98%;
	height: 2px;
	background: rgba(242,242,242,0.5)
	margin: 15px 0px;
}
.item:hover{
	transform: translateY(8px);
	border-color: #17D1F2;
}
